
<script src="https://res.cloudinary.com/dradavcfw/raw/upload/v1581607665/quberos/assets/js/jquery.min.js"></script>
<script src="https://res.cloudinary.com/dradavcfw/raw/upload/v1581607662/quberos/assets/js/index.min.js"></script>
<script src="https://res.cloudinary.com/dradavcfw/raw/upload/v1581607662/quberos/assets/js/alert-banner.min.js"></script>
<script type="text/javascript">
  $(document).ready( function() {
      new AlertBannerWidget( '#alert-banner', {
          alert_id: '3ds2-homepage',
          theme: 'dark',
          icon: 'adl-icon-alert',
          description: 'See how you can earn cryptocurrencies...',
          url: '',
          cta: 'Let’s go',
          cta_target: '',
          action: 'true'
      } );
  });
</script>

<script src="https://res.cloudinary.com/dradavcfw/raw/upload/v1581607662/quberos/assets/js/bootstrap.min.js"></script>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-modal="modal"></div>