<!-- <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="keywords" content="" />
  <meta name="description" content="We provide a single payments platform globally to accept payments and grow revenue online, on mobile, and at the point of sale." />
  <meta name="robots" content="index, follow" />
  <title>Quberos | The crypto earning platform built for growth</title>
  <link rel="stylesheet" type="text/css" href="<%= locals.context %>/assets/css/adyen.min.css">
  <link rel="canonical" href="https://www.quberos.com" />

  <script>
          dataLayer = [{
              'user_id': 'unavailable',
              'page_type': 'home',
              'page_subtype': '',
              'site_language': 'en',
              'site_region': 'IN'
          }];
      </script>
  
  <style>.async-hide { opacity: 0 !important} </style>
  
  <meta name="msvalidate.01" content="403DB1240563B04B9F01B2B1EFCB4CB9" />
  <meta name="norton-safeweb-site-verification" content="sl8br1ae505tvp50ltjup1cbtm73j1bregal9qj8phlf15au9a33xf18acnz155-iedmfcuuxb8jgturopjbxqko8xpx0b806cp7fl9fd6u0z809uvd-2dk7pua6g83h" />
  <script>
          window.addEventListener('DOMContentLoaded', function() {
              __ADYEN_WEB__.index.runJSManager("js/",'8-20-0-a-');
          });
      </script>
  </head> -->