<div class="cui-layout-header">
    <div class="cui-topbar">
        <!-- left aligned items -->
        <div class="top-bar__left">
            <div class="top-bar__logo">
                <a href="">
                <img src="<%= locals.context %>/app-assets/images/logo-dark.png" alt="Quberos Logo">
                </a>
            </div>
        </div>
        <!-- right aligned items -->
        <div class="cui-topbar-right">
            
            
            <div class="cui-topbar-item">
                <div class="dropdown cui-topbar-avatar-dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false"> <span class="cui-topbar-avatar">
                            <img
                            src="../../components/dummy-assets/common/img/avatars/1.jpg"
                            alt="" />
                    </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i
                            class="dropdown-icon icmn-exit"></i> Logout</a>
                    </div>
                </div>
            </div>
            <div class="cui-topbar-item">
                <div class="cui-topbar-menu-button cui-menu-right-action-toggle">
                    <i class="fa fa-bars"> <!-- --></i>
                </div>
            </div>
        </div>
    </div>

</div>