<nav
                class="row navbar navbar-transparent navbar-transparent--green-black pushed-header collapse show navbar-main"
                role="navigation" data-navigation="navbar" data-si="main-menu">
                <div class="inner-container d-block d-xl-none">
                    <div class="row justify-content-between">
                        <a class="ady-logo--mobile ady-navbar-brand d-block d-xl-none"
                            href="#/"> <img
                            src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/logo.png"
                            class="ady-navbar-brand__logo-adyen logo-adyen--green"
                            alt="Green Quberos Logo" title="Quberos"> <img
                            src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/logo-white.png"
                            class="ady-navbar-brand__logo-adyen logo-adyen--white"
                            alt="White Quberos Logo" title="Quberos">
                        </a> <span role="button" data-navigation="navbar-toggle"
                            aria-label="Toggle Navigation"
                            class="navbar-toggler collapsed d-inline-flex close"
                            aria-expanded="false"> <span
                            class="menu-lines align-middle"></span>
                        </span>
                    </div>
                </div>
                <div class="inner-container navbar-inner"
                    data-navigation="navbar-inner">
                    <a class="ady-navbar-brand d-none d-xl-block" href="#/"> <img
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/logo.png"
                        class="ady-navbar-brand__logo-adyen logo-adyen--green"
                        alt="Green Quberos Logo" title="Quberos"> <img
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/logo-white.png"
                        class="ady-navbar-brand__logo-adyen logo-adyen--white"
                        alt="White Quberos Logo" title="Quberos">
                    </a>
                    <ol class="main-navigation__list navbar-nav" data-navigation="list">
                        <li class="main-navigation__list-item" data-navigation="item">
                            <span class="list-item__title nav-link" data-navigation="link">Our
                                solution <span class="arrow-icon" data-navigation="link-icon"></span>
                        </span>
                            <div class="list-item__container" data-navigation="container">
                                <div class="container__inner inner-container px-0">
                                    <div class="container__info col-12 col-xl-3"
                                        data-navigation="container-content">
                                        <div class="container__info-content">
                                            <div class="container__title heading-h3">
                                                <div class="container__back-button" data-navigation="close">
                                                    <span class="arrow-icon arrow-icon--back"></span>
                                                </div>
                                                Our solution
                                            </div>
                                            <div class="container__description">A single payments
                                                platform to accept payments anywhere, on any device.</div>
                                        </div>
                                    </div>
                                    <div class="container__all-groups col-12 col-xl-9 clearfix"
                                        data-navigation="container-content">
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title">Products</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a
                                                    href="#/our-solution/online-payments"
                                                    class="group__item-link">Online payments</a>
                                                    <div class="group__item-description">Everything you
                                                        need to recurringeive payments online</div></li>
                                                <li class="group__list-item"><a href="#/pos-payments"
                                                    class="group__item-link">Point of sale</a>
                                                    <div class="group__item-description">In-store payments
                                                        and terminals</div></li>
                                                <li class="group__list-item"><a
                                                    href="#/our-solution/online-payments/marketplaces"
                                                    class="group__item-link">Marketplaces</a>
                                                    <div class="group__item-description">Flexible payment
                                                        solution for marketplaces</div></li>
                                                <li class="group__list-item"><a href="#/unified-commerce"
                                                    class="group__item-link">Unified Commerce</a>
                                                    <div class="group__item-description">Create the best
                                                        customer experiences on any channel</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title">Features</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a
                                                    href="#/our-solution/global-acquiring"
                                                    class="group__item-link">Global acquiring</a>
                                                    <div class="group__item-description">Local payment
                                                        connections around the world</div></li>
                                                <li class="group__list-item"><a href="#/payment-methods"
                                                    class="group__item-link">Payment methods</a>
                                                    <div class="group__item-description">Offer key payment
                                                        methods anywhere in the world</div></li>
                                                <li class="group__list-item"><a href="#/risk-management"
                                                    class="group__item-link">Risk management</a>
                                                    <div class="group__item-description">Protect your
                                                        business using data</div></li>
                                                <li class="group__list-item"><a
                                                    href="#/our-solution/revenue-optimization"
                                                    class="group__item-link">Revenue optimization</a>
                                                    <div class="group__item-description">Optimize payments
                                                        for more revenue</div></li>
                                                <li class="group__list-item"><a
                                                    href="#/our-solution/reporting" class="group__item-link">Customer
                                                        insights</a>
                                                    <div class="group__item-description">Data-rich
                                                        insights from all channels and locations</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 group-dark">
                                            <div class="group__title">How we work</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a href="#/get-started"
                                                    class="group__item-link">Getting started</a>
                                                    <div class="group__item-description">Steps to get
                                                        started with the Quberos payments platform</div></li>
                                                <li class="group__list-item"><a href="#/customer-success"
                                                    class="group__item-link">Customer success</a>
                                                    <div class="group__item-description">What it&#039;s
                                                        like to work with our team and technology</div></li>
                                                <li class="group__list-item"><a href="#/partners"
                                                    class="group__item-link">Partner ecosystem</a>
                                                    <div class="group__item-description">Platforms and
                                                        integrators supported by Quberos</div></li>
                                                <li class="group__list-item"><a href="#/pricing"
                                                    class="group__item-link">Pricing</a>
                                                    <div class="group__item-description">Transparent
                                                        pricing for all businesses</div></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="main-navigation__list-item " data-navigation="item"><a
                            href="#/customers" class="nav-link list-item__title"><span>Customers</span></a></li>
                        <li class="main-navigation__list-item" data-navigation="item">
                            <span class="list-item__title nav-link" data-navigation="link">About
                                us <span class="arrow-icon" data-navigation="link-icon"></span>
                        </span>
                            <div class="list-item__container" data-navigation="container">
                                <div class="container__inner inner-container px-0">
                                    <div class="container__info col-12 col-xl-3"
                                        data-navigation="container-content">
                                        <div class="container__info-content">
                                            <div class="container__title heading-h3">
                                                <div class="container__back-button" data-navigation="close">
                                                    <span class="arrow-icon arrow-icon--back"></span>
                                                </div>
                                                About us
                                            </div>
                                            <div class="container__description">We built a payments
                                                platform from the ground up to help fast-growing businesses.</div>
                                        </div>
                                    </div>
                                    <div class="container__all-groups col-12 col-xl-9 clearfix"
                                        data-navigation="container-content">
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title">Explore</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a href="#/about"
                                                    class="group__item-link">Our story</a>
                                                    <div class="group__item-description">Discover who we
                                                        are</div></li>
                                                <li class="group__list-item"><a href="#/press-and-media"
                                                    class="group__item-link">Press and media</a>
                                                    <div class="group__item-description">News, company
                                                        info and resources</div></li>
                                                <li class="group__list-item"><a
                                                    href="#/investor-relations" class="group__item-link">Investor
                                                        Relations</a>
                                                    <div class="group__item-description">News and
                                                        resources</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title group__title--empty">&nbsp;</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a href="#/careers"
                                                    class="group__item-link">Careers</a>
                                                    <div class="group__item-description">Join our team</div></li>
                                                <li class="group__list-item"><a href="#/contact"
                                                    class="group__item-link">Contact us</a>
                                                    <div class="group__item-description">We&#039;re here
                                                        to help</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 group-dark">
                                            <div class="group__title">Resources</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a href="#/knowledge-hub"
                                                    class="group__item-link">Knowledge Hub</a>
                                                    <div class="group__item-description">Free resources
                                                        and training</div></li>
                                                <li class="group__list-item"><a href="#/blog"
                                                    class="group__item-link">Blog</a>
                                                    <div class="group__item-description">Payments blog for
                                                        news and insights</div></li>
                                                <li class="group__list-item"><a href="#/newsletter"
                                                    class="group__item-link">Newsletter</a>
                                                    <div class="group__item-description">Get payments news
                                                        delivered to your inbox</div></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="main-navigation__list-item" data-navigation="item">
                            <span class="list-item__title nav-link" data-navigation="link">Documentation
                                <span class="arrow-icon" data-navigation="link-icon"></span>
                        </span>
                            <div class="list-item__container" data-navigation="container">
                                <div class="container__inner inner-container px-0">
                                    <div class="container__info col-12 col-xl-3"
                                        data-navigation="container-content">
                                        <div class="container__info-content">
                                            <div class="container__title heading-h3">
                                                <div class="container__back-button" data-navigation="close">
                                                    <span class="arrow-icon arrow-icon--back"></span>
                                                </div>
                                                Documentation
                                            </div>
                                            <div class="container__description">Discover our API and
                                                support documentation.</div>
                                        </div>
                                    </div>
                                    <div class="container__all-groups col-12 col-xl-9 clearfix"
                                        data-navigation="container-content">
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title">Get started</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a
                                                    href="#" class="group__item-link"
                                                    target="_self">Docs homepage</a>
                                                    <div class="group__item-description">Information on
                                                        our integrations, payments, and more</div></li>
                                                <li class="group__list-item"><a
                                                    href="#adyen"
                                                    class="group__item-link" target="_self">Get started with
                                                        Quberos</a>
                                                    <div class="group__item-description">All about the
                                                        signup and integration process</div></li>
                                                <li class="group__list-item"><a
                                                    href="#"
                                                    class="group__item-link" target="_self">Checkout</a>
                                                    <div class="group__item-description">API docs for
                                                        website and in-app payments</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 ">
                                            <div class="group__title">Explore more</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a
                                                    href="#"
                                                    class="group__item-link" target="_self">API Explorer</a>
                                                    <div class="group__item-description">Test out the
                                                        Quberos API</div></li>
                                                <li class="group__list-item"><a
                                                    href="#http://docs.quberos.com/developers/plugins/"
                                                    class="group__item-link" target="_self">Partner
                                                        integrations</a>
                                                    <div class="group__item-description">Check our plugins</div>
                                                </li>
                                                <li class="group__list-item"><a
                                                    href="#http://docs.quberos.com/developers/user-management/managing-your-live-account"
                                                    class="group__item-link" target="_self">Managing your
                                                        live account</a>
                                                    <div class="group__item-description">Info about
                                                        payments and the Customer Area</div></li>
                                            </ol>
                                        </div>
                                        <div class="container__group col-12 col-xl-4 group-dark">
                                            <div class="group__title">Support</div>
                                            <ol class="group__list">
                                                <li class="group__list-item"><a
                                                    href="#http://support.quberos.com" class="group__item-link"
                                                    target="_self">Get support</a>
                                                    <div class="group__item-description">Search our
                                                        knowledge base, or open a ticket</div></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    </ol>
                    <div class="main-navigation-right float-right">
                        <div class="btn-group">
                            <ul class="navbar-nav d-xl-block">
                                <!--<li class="nav-item"><a
                                    class="list-item__title nav-link menu__search-button adl-modal__open adl-icon-ui-search"
                                    href="##search-modal" title="Search"><span class="d-xl-none">&nbsp;</span><i
                                        class="icon-adyen-search-left"></i></a></li>-->
                                <li class="nav-item"><a class="list-item__title nav-link"
                                    href="#/contact" title="Contact us">Contact us</a></li>
                                    <%
                                        var user = req.session.user;
                                        if (user) {
                                    %>
                                    <li class="nav-item"><a class="list-item__title nav-link"
                                        href="/web/auth/index"
                                        title="Log in">Log in</a></li>
                                    <% } else { %>
                                        <li class="nav-item"><a class="list-item__title nav-link"
                                            href="/web/auth/login"
                                            title="Log in">Log In</a></li>
                                    <% } %>
                                <li class="nav-item"><a href="/web/auth/register"
                                    class="btn default-primary mr-0" data-button
                                    data-tracking-text="Create Account">Create Account</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>