<% 
    var user = locals.user;
%>
<div class="utils__content">

    <div class="card utils__card-with-sidebar utils__card-with-sidebar--right">
            <div class="card-body">
                <div class="model-form-wrapper">
                    <div class="crypto__form">
                        <%- include('../common/message') %>

                        <form id="profile-form" method="POST" action="/web/profile/password/update">
                            <div class="form-group">
                                <label for="old-password" class="crypto__formLabel">Old Password</label>
                                <input type="password" id="old-password" class="form-control" placeholder="Old Password" name="oldPassword" required minlength="6" maxlength="25">
                            </div>
                            <div class="form-group">
                                <label for="new-password" class="crypto__formLabel">New Password</label>
                                <input type="password" id="new-password" class="form-control" placeholder="New Password" name="newPassword" required minlength="6" maxlength="25">
                            </div>    
                            <div class="form-group">
                                <label for="confirm-password" class="crypto__formLabel">Confirm New Password</label>
                                <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required minlength="6" maxlength="25">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="w-100 btn btn-success text-uppercase" id="update-password"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>