		
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
<div class="modal-dialog">
    <div class="modal-content mt-15 rounded-pill">
    <div class="modal-body p-0">
        <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
            <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>

        </form>
        <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
            <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
        </div>
        <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
            <div class="scrollbar-overlay" style="max-height: 30rem;">
            <div class="list pb-3">
                <h6 class="dropdown-header text-1000 fs--2 py-2">24 <span class="text-500">results</span></h6>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Recently Searched </h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                    </div>
                </a>
                <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                    </div>
                </a>

                </div>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Products</h6>
                <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../apps/e-commerce/landing/product-details.html">
                    <div class="file-thumbnail me-2"><img class="h-100 w-100 fit-cover rounded-3" src="<%= locals.context %>/asm/assets/img/products/60x60/3.png" alt="" /></div>
                    <div class="flex-1">
                    <h6 class="mb-0 text-1000 title">MacBook Air - 13″</h6>
                    <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                    </div>
                </a>
                <a class="dropdown-item py-2 d-flex align-items-center" href="../apps/e-commerce/landing/product-details.html">
                    <div class="file-thumbnail me-2"><img class="img-fluid" src="<%= locals.context %>/asm/assets/img/products/60x60/3.png" alt="" /></div>
                    <div class="flex-1">
                    <h6 class="mb-0 text-1000 title">MacBook Pro - 13″</h6>
                    <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                    </div>
                </a>

                </div>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Quick Links</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"><span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                    </div>
                </a>
                <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"> <span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                    </div>
                </a>

                </div>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Files</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"><span class="fa-solid fa-file-zipper text-900" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                    </div>
                </a>
                <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"> <span class="fa-solid fa-file-lines text-900" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                    </div>
                </a>
                <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"> <span class="fa-solid fa-image text-900" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                    </div>
                </a>

                </div>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Members</h6>
                <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../pages/members.html">
                    <div class="avatar avatar-l status-online  me-2 text-900">
                    <img class="rounded-circle " src="<%= locals.context %>/asm/assets/img/team/40x40/10.webp" alt="" />

                    </div>
                    <div class="flex-1">
                    <h6 class="mb-0 text-1000 title">Carry Anna</h6>
                    <p class="fs--2 mb-0 d-flex text-700">anna@technext.it</p>
                    </div>
                </a>
                <a class="dropdown-item py-2 d-flex align-items-center" href="../pages/members.html">
                    <div class="avatar avatar-l  me-2 text-900">
                    <img class="rounded-circle " src="<%= locals.context %>/asm/assets/img/team/40x40/12.webp" alt="" />

                    </div>
                    <div class="flex-1">
                    <h6 class="mb-0 text-1000 title">John Smith</h6>
                    <p class="fs--2 mb-0 d-flex text-700">smith@technext.it</p>
                    </div>
                </a>

                </div>
                <hr class="text-200 my-0" />
                <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Related Searches</h6>
                <div class="py-2"><a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"><span class="fa-brands fa-firefox-browser text-900" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                    </div>
                </a>
                <a class="dropdown-item" href="../apps/e-commerce/landing/product-details.html">
                    <div class="d-flex align-items-center">

                    <div class="fw-normal text-1000 title"> <span class="fa-brands fa-chrome text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                    </div>
                </a>

                </div>
            </div>
            <div class="text-center">
                <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<body class="config--vertical config--borderLess menu-left--colorful menu-left--shadow theme--light">
<div class="modal fade modal-size-large" id="dynamic-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-container">
                <div class="loader-wrapper">
                    <div class="loader-container">
                        <div class="ball-grid-pulse loader-primary">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div> Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>