.btn-phoenix-primary {
    --phoenix-btn-color: #000000;
    --phoenix-btn-bg: #ffbcca;
    --phoenix-btn-hover-color: #000000;
    --phoenix-btn-hover-bg: #f999ae;
    --phoenix-btn-hover-border-color: #e95f7d;
}

.bg-pink {
    --phoenix-bg-opacity: 1;
    background-color: #f6c8d5;
}

.content {
    background-color: #fff;
}

@media (min-width: 1540px) {
    .hero-header-container-alternate {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
}

@media (min-width: 992px) {
    section {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}