<body class="features">
    <%- include('../nav') %>

    
<section>

    <figure class="feature wow fadeIn">
        <img src="/site/assets/images/feature.jpg">
        <div class="tint"></div>
        <div class="wrapper">
            <h1 class="text-center title">Quberos creates power of the network to enable residual income for Millions of people</h1>
        </div>
    </figure>


    <div class="container">
        <article id="entry-974" class="blog-article">

            <h1 dir="ltr" class="text-danger"><strong>What is Cryptocurrency Trading?</strong></h1>
            <p>Cryptocurrency trading is the act of speculating on cryptocurrency price movements via exchanges, or buying and selling the underlying coins via an exchange.</p>

            <h3>Buying and selling cryptocurrencies via an exchange</h3>
            <ul>
                <li dir="ltr">
                    <p>When you buy cryptocurrencies via an exchange, you purchase the coins themselves. You’ll need to create an exchange account, put up the full value of the asset to open a position, and store the cryptocurrency tokens in your own wallet until you’re ready to sell.</p>
                </li>
                <li dir="ltr">
                    <p>Exchanges bring their own steep learning curve as you’ll need to get to grips with the technology involved and learn how to make sense of the data. Many exchanges also have limits on how much you can deposit, while accounts can be very expensive to maintain.</p>
                </li>
            </ul>

            <h1 dir="ltr" class="text-danger"><strong>How do cryptocurrency markets work?</strong></h1>
            <p>Cryptocurrency markets are decentralised, which means they are not issued or backed by a central authority such as a government. Instead, they run across a network of computers. However, cryptocurrencies can be bought and sold via exchanges and stored in ‘wallets’ .</p>
            <p>Unlike traditional currencies, cryptocurrencies exist only as a shared digital record of ownership, stored on a blockchain. When a user wants to send cryptocurrency units to another user, they send it to that user’s digital wallet. The transaction isn’t considered final until it has been verified and added to the blockchain through a process called mining. This is also how new cryptocurrency tokens are usually created.</p>
            <h3>What is blockchain?</h3>
            <ul>
                <li dir="ltr">
                    <p>A blockchain is a shared digital register of recorded data. For cryptocurrencies, this is the transaction history for every unit of the cryptocurrency, which shows how ownership has changed over time. Blockchain works by recording transactions in ‘blocks’, with new blocks added at the front of the chain.</p>
                    <img src="/site/assets/images/blockchain.png"
                </li>
                <li dir="ltr">
                    <p>Blockchain technology has unique security features that normal computer files do not have.</p>
                </li>
            </ul>
            <h4><strong>Network consensus</strong></h4>

            <p dir="ltr">A blockchain file is always stored on multiple computers across a network – rather than in a single location – and is usually readable by everyone within the network. This makes it both transparent and very difficult to alter, with no one weak point vulnerable to hacks, or human or software error.</p>

            <h4><strong>Cryptography</strong></h4>

            <p dir="ltr">Blocks are linked together by cryptography – complex mathematics and computer science. Any attempt to alter data disrupts the cryptographic links between blocks, and can quickly be identified as fraudulent by computers in the network.</p>
           
            <h3>What is cryptocurrency mining?</h3>
            <p>Cryptocurrency mining is the process by which recent cryptocurrency transactions are checked and new blocks are added to the blockchain.</p>
            <h4><strong>Checking transactions</strong></h4>
            <p>Mining computers select pending transactions from a pool and check to ensure that the sender has sufficient funds to complete the transaction. This involves checking the transaction details against the transaction history stored in the blockchain. A second check confirms that the sender authorised the transfer of funds using their private key.</p>
            
            <h4><strong>Creating a new block</strong></h4>
            <p>Mining computers compile valid transactions into a new block and attempt to generate the cryptographic link to the previous block by finding a solution to a complex algorithm. When a computer succeeds in generating the link, it adds the block to its version of the blockchain file and broadcasts the update across the network.</p>
            

            <h1 dir="ltr" class="text-danger"><strong>What moves cryptocurrency markets?</strong></h1>
            <p>Cryptocurrency markets move according to supply and demand. However, as they are decentralised, they tend to remain free from many of the economic and political concerns that affect traditional currencies. While there is still a lot of uncertainty surrounding cryptocurrencies, the following factors can have a significant impact on their prices:</p>
            <ul>
                <li dir="ltr">
                    <p>Supply: the total number of coins and the rate at which they are released, destroyed or lost</p>
                </li>
                <li dir="ltr">
                    <p>Market capitalisation: the value of all the coins in existence and how users perceive this to be developing</p>
                </li>
                <li dir="ltr">
                    <p>Press: the way the cryptocurrency is portrayed in the media and how much coverage it is getting</p>
                </li>
                <li dir="ltr">
                    <p>Integration: the extent to which the cryptocurrency easily integrates into existing infrastructure such as e-commerce payment systems</p>
                </li>
                <li dir="ltr">
                    <p>Key events: major events such as regulatory updates, security breaches and economic setbacks</p>
                </li>
            </ul>


            <h1 dir="ltr" class="text-danger"><strong>How does cryptocurrency trading work?</strong></h1>
            <p>With IG, you can trade cryptocurrencies via a QUBEROS account – derivative products that enable you speculate on whether your chosen cryptocurrency will rise or fall in value. Prices are quoted in traditional currencies such as the US dollar, and you never take ownership of the cryptocurrency itself.</p>
            <p>QUBEROS are leveraged products, which means you can open a position for a just a fraction of the full value of the trade. Although leveraged products can magnify your profits, they can also magnify losses if the market moves against you.</p>
            
            <h3>What is the spread in cryptocurrency trading?</h3>
            <p>The spread is the difference between the buy and sell prices quoted for a cryptocurrency. Like many financial markets, when you open a position on a cryptocurrency market, you’ll be presented with two prices. If you want to open a long position, you trade at the buy price, which is slightly above the market price. If you want to open a short position, you trade at the sell price – slightly below the market price.</p>

            <h3>What is a lot in cryptocurrency trading?</h3>
            <p>Cryptocurrencies are often traded in lots – batches of cryptocurrency tokens used to standardise the size of trades. As cryptocurrencies are very volatile, lots tend to be very small: most are just one unit of the base cryptocurrency. However, some cryptocurrencies are traded in bigger lots.</p>

            <h3>What is leverage in cryptocurrency trading?</h3>
            <p>Leverage is the means of gaining exposure to large amounts of cryptocurrency without having to pay the full value of your trade upfront. Instead, you put down a small deposit, known as margin. When you close a leveraged position, your profit or loss is based on the full size of the trade.</p>
        </article>
    </div>


</section>
    

    <%- include('../footer') %>
</body>
  