<body class="quberos">
    <%- include('../nav') %>

    
<section>

    <figure class="feature wow fadeIn">
        <img src="/site/assets/images/about-us.png">
        <div class="tint"></div>
        <div class="wrapper">
            <h1 class="text-center title">Buy Lots Refer Lots Earn Globally Grow and simplify your Earnings Quberos platform</h1>
        </div>
    </figure>


    <div class="container">
        <article id="entry-974" class="blog-article">

            <p><strong>QUBEROS TOKEN</strong> The Quberos Token Team project is an infrastructure platform and payment gateway for e-sport and gaming.</p>

            <p>This cryptocurrency is therefore clearly positioned in a very promising sector since e-sport is set to become even more important in the coming years.</p>
            
            <p>The use cases of the Quberos Token are multiple, ranging from payment in tokens as part of a subscription model to the purchase of assets on a case-by-case basis on the Quberos Token platform. In addition, the payment of fees for the implementation of smart contracts for the provision of speciﬁc services is possible. Finally, the platform can be used for all gamiﬁcation and rewards purposes.</p>

            <p>We protect your assets with a multi-tier & multi-cluster system architecture. And with our SAFU (Secure Assets Fund for Users) guarantee, you can rest assured that your funds are secure with Quberos.</p>

        </article>
    </div>


</section>
    

    <%- include('../footer') %>
</body>
  